/* login Page */
.login-logo {
	text-align: center;
}

.login-main,
.error {								
	display: flex;
    flex-direction: column;
    font-family: sans-serif;
    text-align: center;
    border: 1px solid black;
    padding: 1rem;
    width: 700px;
    padding-bottom: 5rem;
    margin: auto;
}

.tag-line {
	font-size: x-large;
    font-weight: bold;
	padding: 5rem 0;
}

.username {
	width: 40%;
    font-size: x-large;
    margin: auto;
}

.login-button {
	width: 200px;
    height: 50px;
    margin: auto;
    border-radius: 100px;    
    background-color: #7390ec;
    color: white;
    font-size: x-large;
    border: white;
    margin-top: 1rem;
	cursor: pointer;
}
.error a {
	cursor: pointer;
}
.error>a:hover {
	color: blue;
}
/* ------------------------------------Home Page */
* {
	font-family: sans-serif;	
}
.home-content,
.profile-content {
	display: grid;
	height: 100%;
	width: 100;
	grid-template-columns: 25% 40% 35%;
	grid-template-areas:
	"left-menu main right-menu";
}
/* ----------------------Left-menu----------------------------- */
.left-menu {
	grid-area: left-menu;
	display: grid;
	height: 100%;
	grid-template-rows: 10% 1fr 10%;
	grid-template-areas: 
	"logo"
	"options"
	"user";
	padding-left: 5rem;
	position: fixed;
}
.logo {
	grid-area: logo;	
	padding-top: 1rem;
}
.logo img {
	width: 35px;
}
.options {
	grid-area: options;
	list-style: none;	
}
.options ul {
	margin: 0.5rem 0;
	padding: 0;
}
.options img {
	width: 24px;
}
button {
	padding: 1px 6px 1px 6px;
	border: none;   
    background-color: white;
	font-size: 20px;
	padding: 0.8rem;
}
.home:hover,
.profile:hover,
.logout:hover{
	padding: 1px 6px 1px 6px;
	border: none; 
	border-radius: 30px;
    background-color: #80808047;
	font-size: 20px;
	padding: 0.8rem;
	cursor: pointer;
}
button > img {
	padding-right: 0.5rem;
}
button > img,
button > span {
	vertical-align: middle;
}
.tweet {
	border-radius: 30px;
    background-color: #7390ec;
	width: 150px;
	margin: 1rem 0;
}
.user {
	grid-area: user;
	list-style: none;	
	border-radius: 30px;
    padding: 0.5rem 1rem;
    height: fit-content;
}
.user:hover {
	background-color:  #80808047;
}
.user-name {
	padding-left: 4rem;
}
.user-handler {
	padding-left: 4rem;
}
.user-photo {
	float: left;
	width: 40px;
    border-radius: 100%;
}
/* ----------------------main----------------------------- */
.home-main {
	grid-area: main;
	border-left: 1px #8080802e solid;
	border-right: 1px #8080802e solid;
}
.input-area {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto;
	grid-template-areas: 
	"picture input"
	"picture button";
	margin-top: 1rem;
}
.input-user-photo {
	grid-area: picture;
	width: 55px;
    border-radius: 100%;	
	cursor: pointer;
}
.posts > li {
	border-bottom: 1px #8080802e solid;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto auto;
	grid-template-areas: 
	"post-user-photo post-user-name"
	"post-user-photo users-post"
	"post-user-photo like-option";
	padding-bottom: 1rem;	
}
.posts span {
	padding-top: 1rem;
}
.post-user-photo {
	grid-area: post-user-photo;
	width: 55px;
	border-radius: 100%;
	padding: 0.5rem 1rem;	
}
.tweet-text-box>span {
	font-weight: bold;
}
.active {
	font-weight: bold;
}
.tweet-text-box {
	border-bottom: 1px #8080802e solid;
	padding: 1rem;
}
.typing {
	grid-area: input;
	word-wrap: break-word;
    width: 95%;
    border-radius: 5px;
    margin-left: 1rem;
	margin-top: 1rem;
	border: 0;
	height: 30px;
	font-size: large;
}
.tweet-post{
	grid-area: button;
	border-radius: 30px;
    background-color: #7390ec;	
	margin: 1rem 0;
	cursor: pointer;
	width: fit-content;
	justify-self: end;
}
.tweet-post:hover {
	background-color: #4b73f4;
}
.posts {
	list-style: none;
	overflow: auto;
    max-height: 650px;	
}
.like-option {
	justify-self: end;
}
.like-icon {
	width: 20px;    
    border-radius: 50%;    
	vertical-align: middle;
	padding-right: 0.5rem;
}
.like-option span {
	margin-right: 1rem;
	vertical-align: middle;
}
::-webkit-scrollbar {
	width: 0;
  }
.retweet {
	font-size: small;
    cursor: pointer;
}
.retweet:hover {
	color: blue;
}
/* ----------------------right-menu----------------------------- */
.right-menu {
	grid-area: right-menu;
}
.accounts, .live {
	margin: 1rem;
    border-radius: 10px;
    height: 350px;
    background-color: hwb(0deg 0% 100% / 3%);
	padding-top: 1rem;
	padding-right: 1rem;
	max-width: 400px;
}
.right-menu span {
	font-weight: bold;
	font-size: large;
}
.live>span,
.accounts>span {
	padding: 1rem;
	padding-top: 2rem;
}
.live ul,
.accounts ul {
	padding-top: 1rem;
    padding-left: 1rem;
}
.live>ul:hover,
.accounts>ul:hover {
	background-color: #00000005;
}
.live p {
	color: gray;
}
.accounts>ul {
	
	display: flex;
	flex-direction: row;
}
.sugg-photo {
	width: 55px;
	height: 55px;
	border-radius: 50%;
	margin-right: 1rem;
}
.accounts p {
	color: gray;
	margin-top: 0;
}
.follow-button {
	margin-left: auto;
    background: black;
    color: white;
    border-radius: 30px;
    height: fit-content;
    font-size: inherit;
    font-weight: bold;
    width: 100px;
	cursor: pointer;
}
.follow-button:hover {
	background: #525151;
}
/*  --------------------------------------------Profile main */
.profile-main {
	grid-area: main;
	border-left: 1px #8080802e solid;
	border-right: 1px #8080802e solid;
	display: grid;
	grid-template-rows: auto;
	grid-template-areas:
	"header"
	"wall"
	"info-area"
	"middle-menu-bar"
	"more-accounts";
	height: fit-content;
}
.back-button {
	cursor: pointer;
}
.back-button img{
	width: 20px;
}
.header span {
	font-weight: bold;
	font-size: large;
}
.header p {
	margin-left: 3rem;
	margin-top: 0;
	color: gray;
}
.wall {
	background-color: #9ea9bd45;
}
.wall div {
	height: 40px;
	background-color: white;
}
.user-big-photo {
	bottom: -3.5em;
	position: relative;
	margin-left: 1rem;
	background-color: white;	
}
.info-area {
	list-style: none;
	padding: 1rem;
}
.info-area span {
	font-weight: bold;
}
.info-area li {
	color: gray;
}
.calendar {
	width: 20px;
	margin-top: 1rem;
}
.middle-menu-bar {
	cursor: pointer;
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	border-bottom: 1px #8080802e solid;
}
.middle-menu-bar li {
	padding: 1rem;
}
.middle-menu-bar li:hover {
	background-color: #8080803b;
}
.user-big-photo {
	width: 100px;
	border: 3px white solid;
	border-radius: 50px;
}
.more-accounts>span {
	font-weight: bold;
	font-size: large;
}
.more-accounts {
	padding-right: 1rem;
	padding-top: 1rem;
}
.more-accounts>span {
	padding-left: 1rem;
}
.more-accounts ul {
	padding-top: 1rem;
    padding-left: 1rem;
}
.more-accounts>ul:hover {
	background-color: #00000005;
}
.more-accounts>ul {
		display: flex;
	flex-direction: row;
}
.more-accounts p {
	color: gray;
	margin-top: 0;
}